flex-center(_direction = 'row') {
  display: flex;
  flex-direction: _direction;
  justify-content: center;
  align-items: center;
}

justify-center(_direction = 'row') {
  display: flex;
  flex-direction: _direction;
  justify-content: center;
}

align-center(_direction = 'row') {
  display: flex;
  flex-direction: _direction;
  justify-content: center;
}
